body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.container {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #333;
    margin: 30px 0 10px;
    font-weight: normal;
}

h2 {
    position: relative;
    line-height: 20px;
    font-size: 20px;
    color: #555;
    vertical-align: middle;
    font-weight: normal;
}

.react-logo {
    height: 30px;
    position: relative;
    right: 10px;
    top: 8px;
}

.icon-lollipop {
    font-size: 33px;
    position: relative;
    left: 10px;
    top: 6px;
}

h3 {
    color: #999;
    font-weight: normal;
    margin-top: 30px;
}

.footer {
    font-size: 12px;
    font-style: italic;
    color: #999;
}

hr {
    display: block;
    width: 7rem;
    height: 1px;
    margin: 2.5rem 0;
    background-color: #eee;
    border: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

p {
    font-size: 18px;
}

/***** github corner *******/
.github-corner {
    position: fixed;
    right: 0;
    top: 0;
    color: #61dafb;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.landing {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

.features {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.7;
}

.landing-button {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px 30px;
    background-color: white;
    display: inline-block;
    margin-right: 20px;
    color: #333;
}

.landing-button:hover {
    border-color: #61dafb;
    color: #61dafb;
    text-decoration: none;
}

.aplayer-wrap {
    width: 600px;
    max-width: 100%;
    margin: 20px 0 40px;
}
